/* css for main custom */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

h1 {
    margin-bottom: 0.5rem;
}

nav {
    margin: 1rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: #444;
    border-radius: 5px;
    transition: background-color 0.2s;
}

nav ul li a:hover {
    background-color: #e8491d;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    margin-bottom: 5rem
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    width: 400px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    max-width: 100%;
    width: 400px;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
}

h2 {
    margin: 1rem 0;
}

.price {
    color: #e8491d;
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.description {
    font-size: 0.9rem;
    margin: 0.5rem 0 1rem 0;
}

.add-to-cart {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.add-to-cart:hover {
    background-color: #e8491d;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.search-bar {
    padding-left: 15rem;
    padding-right: 15rem;
}

@media screen and (max-width: 1000px) {
    .search-bar{
        max-width: 1000px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}